<footer class="mtop">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<h6><%= t("footer.nosotros")%></h6>
				<hr class="hr-short">
<<<<<<< HEAD
				<p>Usamos el código para tansformar <br>el futuro de miles de jóvenes<br> mujeres en  América Latina</p>
				<p class="fecha">© Laboratoria 2016</p>
=======
				<p><%= t("footer.objetivo")%></p>
				<p class="fecha"><%= t("footer.fecha")%></p>
>>>>>>> develop
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<h6><%= t("footer.inscribete")%></h6>
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<form>
							<input type="text" name="email" maxlength="150" placeholder="E-mail">
							<input type="submit" name="submit" value="enviar" class="footer-button">
						</form>
						<h6><%= t("footer.redes")%></h6>
						<hr class="hr-short">
						<nav>
							<a href="#" target="_blank" aria-label="Icono para ir a facebook"><img src="assets/images/icons/android-icon-32x32.png" alt=""></a>
							<a href="#" target="_blank" aria-label="Icono para ir a twitter"><img src="assets/images/icons/android-icon-32x32.png" alt=""></a>
							<a href="#" target="_blank" aria-label="Icono para ir a google"><img src="assets/images/icons/android-icon-32x32.png" alt=""></a>
							<a href="#" target="_blank" aria-label="Icono para ir a youtube"><img src="assets/images/icons/android-icon-32x32.png" alt=""></a>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>	