<footer class="mtop">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<h6><%= t("footer.we-are")%></h6>
				<hr class="hr-short">
				<p><%= t("footer.objective")%></p>
				<p class="fecha"><%= t("footer.data")%></p>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<h6><%= t("footer.sign-up")%></h6>
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<form>
							<input type="text" name="email" maxlength="150" placeholder="E-mail">
							<input type="submit" name="submit" value="enviar" class="footer-button">
						</form>
						<h6><%= t("footer.social-networks")%></h6>
						<hr class="hr-short">
						<nav>
							<a href="#" target="_blank" aria-label="Icono para ir a facebook"><img src="assets/images/icons/android-icon-32x32.png" alt=""></a>
							<a href="#" target="_blank" aria-label="Icono para ir a twitter"><img src="assets/images/icons/android-icon-32x32.png" alt=""></a>
							<a href="#" target="_blank" aria-label="Icono para ir a google"><img src="assets/images/icons/android-icon-32x32.png" alt=""></a>
							<a href="#" target="_blank" aria-label="Icono para ir a youtube"><img src="assets/images/icons/android-icon-32x32.png" alt=""></a>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>	