<div class="container-fluid p-0 m-0">
	<section id="img-background" class="img-responsive">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<!-- Background image -->
				<div class="row">
					<div class="col-md-12">
						<h3 class="tech text-center">
							<span class="tech-parpadeo">&lowbar;</span>
							<%= t("index.tech") %>
						<h3>
					</div>
				</div>
				<!-- Cuadro que lleva al blog -->
				<div class="row">
					<div class="col-md-12">
						<div class="enlace-blog p-14">
							<h5 class="title">
								<%= t("index.enlace-blog.title") %>
							</h5>
							<p class="description">
								<%= t("index.enlace-blog.description") %>
							</p>
							<p>
								<a href="#" class="link">
									<%= t("index.enlace-blog.link") %>
									<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
								</a>
							</p>
							<img src="../assets/images/home/panel-obama-modified.jpg">
							<i class="fa fa-times pt-7" aria-hidden="true"></i>
						</div>
					</div>
				</div>
				<!-- Flecha scroll -->
				<div class="arrow">
					<img src="../assets/images/home/flecha.svg">
				</div>
			</div>
		</div>
	</section>
	<!-- Video -->
	<section class="video-lab text-center">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/txSKazrJVvM" frameborder="0" allowfullscreen></iframe>
				</div>	
			</div>
		</div>
	</section>
	<!-- Empresas -->
	<section class="empresas text-center">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<p class="p-empresas"><%= t("index.empresas.description") %></p>
				<img src="../assets/images/home/bitmap-copy-4.png">
				<img src="../assets/images/home/bitmap-copy-7.png">
				<img src="../assets/images/home/bitmap-copy-8.png">
				<img src="../assets/images/home/bitmap-copy-5.png">
				<img src="../assets/images/home/bitmap-copy-6.png">
				<a href="#">
					<p class= "link-meetus">
						<%= t("index.empresas.link") %>
						<i class="fa fa-long-arrow-right arrow-dsp" aria-hidden="true"></i>
					</p>
				</a>
			</div>
		</div>
	</section>
	<!-- Contratar -->
	<section class="text-center">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="contratar bg-gris">
					<h2><%= t("index.contratar.title") %></h2>
					<hr class="hr-center">
					<p class="talent"><%= t("index.contratar.description") %><p>
					<p><%= t("index.contratar.paragraph") %></p>
				</div>
				<div class="transformacion bg-gris">
					<h2 class="title-yellow p-7">01</h2>
					<h2 class="title-black"><%= t("index.transformacion.title") %></h2>
					<p><%= t("index.transformacion.description") %></p>
					<img src="../assets/images/home/group-4.svg">
					<p class="italic texto-talento">porque hay mucho <strong>talento</strong> sin acceso a oportunidades</p>
					<p class="italic texto-talento">y el mercado tech necesita más <strong>talento femenino</strong></p>
				</div>
			</div>
		</div>
	</section>
	<!-- El perfil -->
	<section class="perfil bg-gris">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<h2 class="title-yellow p-7">el perfil</h2>
				<h4 class="text-center"><%= t("index.perfil.description") %></h4>
			</div>
		</div>
	</section>
</div>
