<section id="img-background">
	<!-- Background image -->
	<h3 class="tech text-center">
	<span class="tech-parpadeo">&lowbar;</span>
	<%= t("index.tech") %>
	<h3>
	<!-- Cuadro que lleva al blog -->
	<div class="enlace-blog p-14">
		<h5 class="title">
		<%= t("index.enlace-blog.title") %>
		</h5>
		<p class="description">
			<%= t("index.enlace-blog.description") %>
		</p>
		<p>
			<a href="#" class="a-underline">
				<%= t("index.enlace-blog.link") %>
				<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
			</a>
		</p>
		<img src="../assets/images/home/panel-obama-modified.jpg">
		<i class="fa fa-times pt-7" aria-hidden="true"></i>
	</div>
	<!-- Flecha scroll -->
	<div class="arrow">
		<img src="../assets/images/home/flecha.svg">
	</div>
</section>
<!-- Video -->
<div class="container-fluid">
	<section class="video-lab text-center">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12 p-0">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/txSKazrJVvM" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</section>
	<!-- Empresas -->
	<section class="empresas text-center">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12 p-0">
				<p class="p-empresas"><%= t("index.empresas.description") %></p>
				<img src="../assets/images/home/bitmap-copy-4.png">
				<img src="../assets/images/home/bitmap-copy-7.png">
				<img src="../assets/images/home/bitmap-copy-8.png">
				<img src="../assets/images/home/bitmap-copy-5.png">
				<img src="../assets/images/home/bitmap-copy-6.png">
				<a href="#">
					<p class= "link-meetus">
						<%= t("index.empresas.link") %>
						<i class="fa fa-long-arrow-right arrow-dsp" aria-hidden="true"></i>
					</p>
				</a>
			</div>
		</div>
	</section>
	<!-- Contratar -->
	<section class="text-center">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12 p-0">
				<div class="contratar bg-gris">
					<h2 class="mb-42"><%= t("index.contratar.title") %></h2>
					<hr class="hr-short">
					<p class="talent"><%= t("index.contratar.description") %></p>
					<p><%= t("index.contratar.paragraph") %></p>
				</div>
			</div>
		</div>
		<!-- Transformación -->
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12 p-0">
				<div class="transformacion bg-gris">
					<h2 class="title-yellow p-7">01</h2>
					<h2 class="title-black"><%= t("index.transformacion.title") %></h2>
					<p class="mb-70"><%= t("index.transformacion.description") %></p>
					<img src="../assets/images/home/group-4.svg">
					<p class="italic texto-talento"><%= t("index.transformacion.description-two") %></p>
					<p class="italic texto-talento"><%= t("index.transformacion.description-three") %></p>
				</div>
			</div>
		</div>
	</section>
	<!-- El perfil -->
	<section class="perfil bg-gris p-0 m-0">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12 p-0">
				<h2 class="title-yellow p-7"><%= t("index.perfil.title") %></h2>
				<h4 class="text-center description-perfil"><%= t("index.perfil.description") %></h4>
				<div class= "tab-perfil">
				  <!-- Nav tabs -->
				  <ul class="nav nav-tabs italic" role="tablist">
				    <li role="presentation" class="active">
				    	<a href="#home" aria-controls="home" role="tab" data-toggle="tab">
				    		<%= t("index.perfil.nav-tabs.link-one") %>
				    	</a>
				    </li>
				    <li role="presentation">
				    	<a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
				    		<%= t("index.perfil.nav-tabs.link-two") %>
				    	</a>
				    </li>
				    <li role="presentation">
				    	<a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">
				    		<%= t("index.perfil.nav-tabs.link-three") %>
				    	</a>
				    </li>
				    <li role="presentation">
				    	<a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">
				    		<%= t("index.perfil.nav-tabs.link-four") %>
				    	</a>
				    </li>
				  </ul>
				  <!-- Tab panes -->
				  <div class="tab-content">
				    <div role="tabpanel" class="tab-pane active" id="home">
					    <div class="row pb-21">
					    	<div class="col-md-6">
					    		<div class="tab-left">
						    		<h3><%= t("index.perfil.tab-content.tab-left.title") %></h3>
						    		<p><%= t("index.perfil.tab-content.tab-left.description") %></p>
						    	</div>
					    	</div>
					    	<div class="col-md-6">
					    		<div class="tab-right">
							 			<h4><%= t("index.perfil.tab-content.tab-right.title") %></h4>
							    	<ul>
							    		<li><%= t("index.perfil.tab-content.tab-right.list-1") %></li>
							    		<li><%= t("index.perfil.tab-content.tab-right.list-2") %></li>
							    		<li><%= t("index.perfil.tab-content.tab-right.list-3") %></li>
							    		<li><%= t("index.perfil.tab-content.tab-right.list-4") %></li>
							    	</ul>
							 		</div>
					    	</div>
					    </div>
				    </div>
				    <div role="tabpanel" class="tab-pane" id="profile">
				    	<div class="row pb-21">
				    		<div class="col-md-6">
				    			<div class="tab-left-2">
				    				<h3></h3>
				    				<p></p>
				    			</div>
				    		</div>
				    		<div class="col-md-6">
				    			<div class="tab-right-2">
				    				<h4></h4>
				    				<ul>
				    					<li></li>
				    					<li></li>
				    					<li></li>
				    					<li></li>
				    				</ul>
				    			</div>
				    		</div>
				    	</div>
				    </div>
				    <div role="tabpanel" class="tab-pane" id="messages">
				    	<div class="row pb-21">
				    		<div class="col-md-6">
				    			<div class="tab-left-3">
				    				<h3></h3>
				    				<p></p>
				    			</div>
				    		</div>
				    		<div class="col-md-6">
				    			<div class="tab-right-3">
				    				<h4></h4>
				    				<ul>
				    					<li></li>
				    					<li></li>
				    					<li></li>
				    					<li></li>
				    				</ul>
				    			</div>
				    		</div>
				    	</div>
				    </div>
				    <div role="tabpanel" class="tab-pane" id="settings">
					    <div class="row pb-21">
					    	<div class="col-md-6">
					    		<div class="tab-left-4">
					    			<h3></h3>
					    			<p></p>
					    		</div>
					    	</div>
					    	<div class="col-md-6">
					    		<div class="tab-right-4">
					    			<h4></h4>
					    			<ul>
					    				<li></li>
					    				<li></li>
					    				<li></li>
					    				<li></li>
					    			</ul>
					    		</div>
					    	</div>
					    </div>
				    </div>
				  </div>
				</div>
			</div>
		</div>
	</section>
</div>
<!--Sección programada por Nello-->
<section class="backgroun-gray">
	<div class="container">
		<div class="row mt-70"><!-- 02 innovacion en la educación-->
			<div class="col-md-12 col-ms-12 col-xs-12 text-center">
				<h2 class="title-yellow">02</h2>
				<h2 class="title-black"><%= t("index.section-02.encabezado-02")%></h2>
				<p class="text-p-medium mt-21 mb-70"><%= t("index.section-02.text-02")%></p>
			</div>
		</div>
		<div class="row"><!-- panel de imágenes -->
			<div class="col-md-5 col-xs-12 paddig-prueba">
				<div class="height-section02-img bg-section02-img1">
					<div>
						<img src="assets/images/img03/group-19@3x.png" alt="" class="img-responsive">
					</div>
					<div>
						<p class="text-p-plus"><%= t("index.section-02.img-text-02-1")%></p>
					</div>
				</div>
			</div>
			<div class="col-md-7 col-xs-12 paddig-prueba">
				<div class="height-section02-img bg-section02-img2">
					<p class="text-p-medium"><%= t("index.section-02.img-text-02-2")%></p>
				</div>	
			</div>
		</div>
		<div class="row">
			<div class="col-md-7 col-xs-12 paddig-prueba">
				<div class="height-section02-img bg-section02-img3">
					<p class="text-p-medium"><%= t("index.section-02.img-text-02-3")%></p>
				</div>
			</div>
			<div class="col-md-5 col-xs-12 paddig-prueba">
				<div class="height-section02-img bg-section02-img4">
					<div>
						<img src="assets/images/img03/group-19@3x.png" alt="" class="img-responsive">
					</div>
					<div>
						<p class="text-p-plus"><%= t("index.section-02.img-text-02-4")%></p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-xs-12 text-center mt-70">
				<a href="" class="a-underline text-p-medium"><%= t("index.section-02.methodology")%><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a><br>
			</div>
		</div>
		<div class="row mt-70"><!-- 03 Facilidad para contratar-->
			<div class="col-md-12 col-ms-12 col-xs-12 text-center">
				<h2 class="title-yellow">03</h2>
				<h2 class="title-black"><%= t("index.section-03-contratacion.encabezado")%></h2>
				<p class="text-p-medium mt-21 mb-70"><%= t("index.section-03-contratacion.text-contratacion")%></p>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-md-4 col-ms-12 col-xs-12 img-03">
			<img src="assets/images/img03/alumna1.png" alt="Alumna en salón de clases" class="img-responsive">
				<h4><%= t("index.section-03-contratacion.encabezado-bloque1")%></h4>
				<hr class="hr-short">
				<p class="mt-63"><em><%= t("index.section-03-contratacion.text-b1")%></em></p>
			</div>
			<div class="col-md-4 col-ms-12 col-xs-12 img-03">
			<img src="assets/images/img03/alumna2.png" alt="Alumna haciendo anotaciones" class="img-responsive">
				<h4><%= t("index.section-03-contratacion.encabezado-bloque2")%></h4>
				<hr class="hr-short">
				<p class="mt-63"><em><%= t("index.section-03-contratacion.text-b2")%></em></p>
			</div>
			<div class="col-md-4 col-ms-12 col-xs-12 img-03">
			<img src="assets/images/img03/alumna3.png" alt="Alumna recibiendo asesoría para resolver un problema" class="img-responsive">
				<h4><%= t("index.section-03-contratacion.encabezado-bloque3")%></h4>
				<hr class="hr-short">
				<p class="mt-63"><em><%= t("index.section-03-contratacion.text-b3")%></em></p>
			</div>
		</div>
		<div class="row text-center mt-70"><!--¿Quieres más razones?-->
			<div class="col-md-12 col-ms-12 col-xs-12">
				<h4 class="mb-42"><%= t("index.seccion-03-razones.encabezado-razones")%></h4>
				<hr class="hr-short">
				<p class="text-p-plus mt-42"><%= t("index.seccion-03-razones.text-razones")%></p>
			</div>
		</div>
		<div class="row mt-70">
			<div class="col-md-3 col-ms-12 col-xs-12">
				<h5 class="h5Razonnes">laboratoria</h5>
				<h5 class="mt-35">bootcamp promedio</h5>
			</div>
			<div class="col-md-3 col-ms-12 col-xs-12">
				<div class="box-white">
					<h5><%= t("index.title1.text-title1")%></h5>
					<p class="font-orange"><%= t("index.title1.resultadoA")%></p>
					<p><%= t("index.title1.resultadoB")%></p>
					<a href="" class="a-underline">fuente <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
				</div>
			</div>
			<div class="col-md-3 col-ms-12 col-xs-12">
				<div class="box-white">
					<h5><%= t("index.title2.text-title2")%></h5>
					<p class="font-orange"><%= t("index.title2.resultadoC")%></p>
					<p><%= t("index.title2.resultadoD")%></p>
					<a href="" class="a-underline">fuente <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
				</div>
			</div>
			<div class="col-md-3 col-ms-12 col-xs-12">
				<div class="box-white">
					<h5><%= t("index.title3.text-title3")%></h5>
					<p class="font-orange"><%= t("index.title3.resultadoE")%></p>
					<p><%= t("index.title3.resultadoF")%></p>
					<a href="" class="a-underline">fuente <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>
<section><!--Panel de imaǵenes-->
	<div class="container-fluid mb-70">
		<div class="row">
			<div class="col-md-6 col-xs-12 height-img bg-image1 positionA prueba">
				<p class="textPanel">"<%= t("index.testimonios.testimonio1")%>"</p>
				<p><em>-<%= t("index.testimonios.autor1")%></em></p>
			</div>
			<div class="col-md-3 col-xs-12 height-img  bg-image2 positionB text-center">
				<p class="textPanel">"<%= t("index.testimonios.testimonio2")%>"</p>
				<p><em class="font-orange">-<%= t("index.testimonios.autor2")%></em></p>
			</div>
			<div class="col-md-3 col-xs-12 height-img bg-image3 positionB text-center">
				<p class="textPanel">"<%= t("index.testimonios.testimonio3")%>"</p>
				<p><em class="font-orange">-<%= t("index.testimonios.autor3")%></em></p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-xs-12 height-img bg-image4 positionB text-center">
				<p class="textPanel">"<%= t("index.testimonios.testimonio4")%>"</p>
				<p><em class="font-orange">-<%= t("index.testimonios.autor4")%></em></p>
			</div>
			<div class="col-md-3 col-xs-12 height-img bg-image5 positionB text-center">
				<p class="textPanel">"<%= t("index.testimonios.testimonio5")%>"</p>
				<p><em class="font-orange">-<%= t("index.testimonios.autor5")%></em></p>
			</div>
			<div class="col-md-6 col-xs-12 height-img bg-image6 positionA">
				<p class="textPanel">"<%= t("index.testimonios.testimonio6")%>"</p>
				<p><em>-<%= t("index.testimonios.autor6")%></em></p>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="row text-center mt-70"><!--Lo último-->
			<div class="col-md-12 col-ms-12 col-xs-12">
				<h3 class="mb-42"><%= t("index.ultimo.title4")%></h3>
				<hr class="hr-short">
				<p class="text-p-plus mt-42"><%= t("index.ultimo.subtitle4")%></p>
				<p class="text-p-medium mt-42">"<%= t("index.ultimo.textUltimo")%>"</p>
				<div class="box-video mt-70 mb-70">
					<!-- colocar el video correcto con la calidad de imagen correcta-->
					<iframe width="100%" height="525" src="https://www.youtube.com/embed/cX_0va1PBYU?list=PLXEl1EcIfY3eQd5wtvl04rx6o7HLtSZhX" frameborder="0" allowfullscreen></iframe>
				</div>
				<a href="" class="a-underline text-p-medium mt-70"><%= t("index.ultimo.linkLee")%><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a><br>
				<button class="text-p-medium mt-70 mb-70 button-max-size "><%= t("index.ultimo.text-button")%><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
			</div>
		</div>
	</div>
</section>
